.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-title {
    font-size: var(--title-font-size);
    font-weight: bold;
}

.card {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
}