{% extends 'base.html' %}

{% block title %}Password Change - TerakoyaOnline{% endblock %}

{% block main %}
    <div class="main-container">
        <form method="post" class="authorize-form">
            {% csrf_token %}
            <div class="form-title">パスワードを変更</div>
            <div class="form-container">
                {{ form.as_p }}
            </div>
            <div class="form-action">
                <a href="{% url 'profile' %}" class="cancel-btn">キャンセル</a>
                <button type="submit" class="join-btn">変更</button>
            </div>
        </form>
    </div>
{% endblock %}